.res-con{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.res-con:hover{
    background: rgba(128, 128, 128, 0.5);
}

.res-con .res-img{
    width: 30%;
    aspect-ratio: 1;
}

.info-con{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    align-items: flex-start;
    justify-content: center;

    p{
        margin: 0;
    }
}

.info-con .artist-name{
    font-size: 0.5rem;
}